# Ignore EVERYTHING
*
# Allow traversal of directories
!*/
# And allow the leaf manifest.yamls
!manifest.yaml
!.manifest.yaml
# As well as the READMEs...
!README
!README.md
!README.txt
!README_template.md
# and the .gitignore
!.gitignore
# and the .github files
!.github/**
